# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend*.hcl
!backend*.hcl.example
crash.log
override.tf
override.tf.json
*.auto.tfvars

# IDE
.idea/
.vscode/
*.swp
*.swo
